
.accordion-trigger {
    transition: transform .5s ease-in-out;

    &.is-active {
        transform: rotate(180deg);
    }
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;

    &.is-opened {
        @include rem(max-height, 500px);
    }
}
