
.button {
    @include rem(padding, 7px 40px);
    border: 2px solid $turquoise;
    display: inline-block;
    text-align: center;
    transition: all .5s ease-in-out;

    &:hover {
        background-color: $turquoise;
        color: $white;
    }
}