
.icon-arrow,
.icon-search {
    height: 1em;
    width: 1em;
}

.svg-icon {
    transition: fill .5s ease-in-out;
}

.icon-arrow {
    @include rem(font-size, 20px);
    fill: $secondary-color;
    transform: rotate(90deg);
}

.icon-email-us {
    @include rem(height, 22px);
    @include rem(width, 30px);
    @include rem(margin-left, 10px);
    fill: $primary-color;
}

.icon-search {
    @include rem(font-size, 19px);
    height: 1em;
    width: 1em;
}
