
.social-media {
    @include rem(margin-top, ($vertical-spacing-unit / 2));
    align-items: center;
    display: flex;
    flex-basis: 50%;
    justify-content: center;

    li {
        @include rem(font-size, 30px);
        @include rem(margin-right, 12px);
        background-color: $grey;
        height: 1em;
        width: 1em;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .5s ease-in-out;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: darken($grey, 20%);
        }
    }

    .icon-meetup {
        @include rem(width, 65px);
        background-color: transparent;

        &:hover {
            background-color: transparent;
            fill: darken($grey, 20%);
        }
    }

    a {
        display: flex;
    }

    @include breakpoint('medium') {
        align-self: flex-end;
        justify-content: flex-end;
        margin-top: 0;
    }
}
