
.talk-post-title {
    @include rem(padding-left, $vertical-spacing-unit);
}

.talk-post-content {
    align-items: flex-start;
    display: flex;

    p {
        padding: 0;
        &:first-child {
            margin-top: 0;
        }
    }
}

.talk-post-date {
    background-color: $background-color;

    &:after {
        border-left-color: $background-color;
    }
}

.talk-post-button {
    @include rem(margin, $vertical-spacing-unit 0);
    @include rem(max-width, 400px);
    width: 100%;
}

.talk-post-image {
    @include rem(margin, 0 0 $vertical-spacing-unit 30px);
    float: right;

    & ~ p {
        margin-top: 0;
    }
}
