
.talk-wrapper {

}

.talk-list {
    @include rem(max-width, 760px);
    margin: 0 auto;

    li {
        @include rem(margin-bottom, ($vertical-spacing-unit * 2));
        display: flex;
        flex-direction: column;

        @include breakpoint('small') {
            flex-direction: row;
        }
    }

    .first-post {
        .talk-info {
            border-color: $turquoise;
            border-width: 0 2px 2px 2px;

            @include breakpoint('small') {
                border-width: 2px 2px 2px 0;
            }
        }
    }
}

.talk-info {
    @include rem(padding, $vertical-spacing-unit);
    border-style: solid;
    border-color: $light-grey;
    border-width: 0 1px 1px 1px;
    flex-basis: 60%;
    position: relative;

    &:before {
         @include rem(top, -24px);
        @include rem(left, 37px);
        border-color: transparent transparent $white transparent;
        border-style: solid;
        border-width: 12px;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        width: 0;

        @include breakpoint('small') {
            @include rem(top, 24px);
            @include rem(left, -24px);
            border-color: transparent $white transparent transparent;
        }
    }

    @include breakpoint('small') {
        @include rem(padding, $vertical-spacing-unit $vertical-spacing-unit $vertical-spacing-unit 30px);
        border-width: 1px 1px 1px 0;
    }
}

.talk-header {
    align-items: flex-start;
    display: flex;
}

.talk-date {
    @include rem(font-size, 30px);
    @include rem(padding-right, ($vertical-spacing-unit / 2));
    color: $turquoise;
    display: inline-block;
    font-family: $header-font;
    line-height: 1;
    text-transform: uppercase;
    position: relative;

    span {
        @include rem(font-size, 18px);
        display: block;
    }

    &:after {
        content: '';
        display: block;
        border-right: 2px solid $turquoise;
        bottom: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.talk-title {
    @include rem(padding-left, ($vertical-spacing-unit / 2));
    display: inline-block;
    line-height: 1.1;

    h4 {
        @include rem(font-size, 20px);
        margin: 0;

        a {
            color: $dark-blue;
            font-weight: 400;
        }

        @include breakpoint('small') {
            @include rem(font-size, map-get($typography, 'heading-four'));
        }
    }
}

.talk-image {
    background-image: url(images/placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
    display: inline-block;
    flex: 1;
}

.talk-text {
    p {
        margin-bottom: 0;
        padding-left: 0;

        @include breakpoint('small') {
            @include rem(padding-left, 50px);
        }
    }
}

.talk-image-inner {
    padding-bottom: 50%;

    @include breakpoint('small') {
        padding-bottom: 0;
    }
}
