
.header-wrapper {
    position: relative;

    img {
        width: 100%;
    }

}

.header-branding {
    @include rem(padding, 0 $vertical-spacing-unit);
    @include rem(max-width, 255px);
    align-items: flex-end;
    background-color: rgba($turquoise, 0.7);
    bottom: -7%;
    color: $white;
    display: flex;
    left: 7%;
    position: absolute;
    top: 0;
    right: 7%;

    a {
        color: $white;
    }

    @include breakpoint('small') {
        max-width: none;
        right: auto;
    }
}

.header-branding-inner {
    margin-bottom: 15%;
}

.site-header {
    @include clearfix();
}

.site-title {
    margin: 0;

    a {
        font-weight: 700;
    }
}

.site-description {
    font-weight: 400;
}