//
// Reusable column layout structures in Magento
// using the Bourbon neat framework
//

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
}

.container {
    @include rem(max-width, 1010px);
    margin: 0 auto;
    padding: 0 4%;

}

.entry-content {
    p {
        @include rem(padding-left, 24px);

        @include breakpoint('small') {
            @include rem(padding-left, 50px);
        }
    }
}

.container-home {
    display: flex;
    justify-content: space-between;

    section {
        flex-basis: 60%;
    }

    aside {
        @include rem(margin, ($vertical-spacing-unit * 2) 0);
        flex-basis: 36%;
    }
}

.sidebar {
    @include rem(padding, $vertical-spacing-unit);
    background-color: $light-grey;
}

.entry-content {
    @include clearfix();
    @include rem(margin-top, $vertical-spacing-unit);
}


// Single column layout by default given that elements are block level
// Change layout for breakpoints
.col2-set {
    @include row();

    @include breakpoint('small') {
        .col-1,
        .col-2 {
            @include span-columns(6 of 12);
        }
    }
}

.col3-set {
    @include row();

    @include breakpoint('medium') {
        .col-1,
        .col-2,
        .col-3 {
            @include span-columns(4 of 12);
        }
    }
}

.col4-set {
    @include row();

    @include breakpoint('small') {
        .col-1,
        .col-2,
        .col-3,
        .col-4 {
            @include span-columns(6 of 12);
        }

        .col-2,
        .col-4 {
            margin-right: 0;
        }

        .col-3 {
            clear: both;
        }
    }

    @include breakpoint('large') {
        .col-1,
        .col-2,
        .col-3,
        .col-4 {
            @include span-columns(3 of 12);
        }

        .col-3 {
            clear: none;
        }
    }
}
