// Vertical rhythm settings
// ------------------------------------------------
$vertical-spacing-unit: 20px;
$heading-spacing-unit: .5em 0;

// Grid settings applied for the bourbon neat library
// ------------------------------------------------
$column: 70px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1200px;

// Mixin vars
// ------------------------------------------------

// Colour palette
// ------------------------------------------------
$white: #fff;
$black: #333;
$dark-blue: #0d3047;
$turquoise: #007f7e;
$grey: #adadad;
$light-grey: #f6f6f6;


// Main Typographic Heading sizes
// ------------------------------------------------
$typography: (
    'base-font-size': 16px,
    'heading-one': 24px,
    'heading-two': 36px,
    'heading-three': 28px,
    'heading-four': 26px,
    'heading-five': 28px,
    'heading-six': 18px
);

$base-font: 'Open Sans', sans-serif;
$header-font: 'Ubuntu Condensed', sans-serif;
$base-font-size: map-get($typography, 'base-font-size');

// Common breakpoints
// ------------------------------------------------
$breakpoints: (
    'small': (480px / $base-font-size) * 1rem,
    'medium': (770px / $base-font-size) * 1rem,
    'large': (1200px / $base-font-size) * 1rem
);

$small: map-get($breakpoints, 'small');
$medium: map-get($breakpoints, 'medium');
$large: map-get($breakpoints, 'large');

